

*{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p,a, span{
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #F8FAFD;
  width: 100vw;
  max-width: 3000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

*::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
}

p {
  font-size: 23px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.titulo{
  font-size: 45px;
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

li{list-style: none;}

header{
  padding: 1em 3em;
  background-color: #F8FAFD;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

header div figure h1{
  font-size: 20px;
  color: #6C7490;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  margin-top: 4px;
}

header div figure{
  display: flex;
  align-items: center;
}

header nav ol li a{
  color: #6C7490;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header div{
  display: flex;
  align-items: center;
}

header nav ol{
  display: flex;
  align-items: center;
  gap: 2em;
}

header nav ol li{
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s ease;
}

header nav ol li .baixar{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 3em;
  padding: 0.3em 1.2em;
  background-color: #6C7490;
  transition: all 0.2s ease;
  color: #F8FAFD;
}

header nav ol li a:hover{
  border-bottom: 2px #6C7490 solid;
}

header nav ol li .baixar:hover{
  background-color: #444444;
}


header div .pesquisa{
  background-color: #6C7490;
  align-items: center;
  border-radius: 40px;
  margin-left: 4em;
}

header div .pesquisa form{
  display: flex;
  align-items: center;
  border-radius: 40px;
}

header div .pesquisa form #pesq_input:focus{
  outline: 0;
  width: 11em;
}

header div .pesquisa:hover #pesq_input{
  width: 11em;
  transition-duration: 0.3s; 
  transition-timing-function: ease;
  animation-iteration-count: infinite;
}

header div .pesquisa form #pesq_input:-webkit-autofill {
  background-color: transparent !important;
  color: #bdbdbd !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

header div .pesquisa form #pesq_input::-ms-clear {
  display: none;
}

header div .pesquisa form #pesq_input::-webkit-search-cancel-button {
  display: none;
}

header div .pesquisa form #pesq_input::-webkit-input-placeholder {
  color: #bdbdbd; 
}

header div .pesquisa form #pesq_input::-moz-placeholder,header div .pesquisa form #pesq_input:-ms-input-placeholder {
  color: #bdbdbd;
}

header div .pesquisa form #pesq_input::-ms-input-placeholder, header div .pesquisa form #pesq_input::placeholder {
  color: #bdbdbd;
}


header div .pesquisa form #pesq_input:-webkit-autofill {
  background-color: transparent !important;
  color: #f1f1f1 !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
}

header div .pesquisa form #pesq_input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: #f1f1f1 !important;
}

header div .pesquisa form #pesq_input::-webkit-autofill:hover, header div .pesquisa form #pesq_input::-webkit-autofill:focus, header div .pesquisa form #pesq_input::-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset;
  background-clip: text; 
}

header div .pesquisa form #pesq_input::selection {
  background: transparent !important;
  color: inherit;
}

header div .pesquisa:not(:hover) #pesq_input{
  width: 0px;
  transition-duration: 0.3s; 
  transition-timing-function: ease;
  animation-iteration-count: infinite;
}

header div .pesquisa form #pesq_input{
  border: none;
  background: none;
  width: 0px;
  transform-origin: left;
  color: #f1f1f1;
}

header div .pesquisa form input[type=image]{
  padding: 10px;
}



/* DESTAQUE DE PAGINA */

#destaque {
  position: relative;
  width: 95%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 1em;
  height: 377px;
}

#destaque .fixo {
  position: absolute;
  width: 100%;
  height: 377px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#destaque .fixo #controles {
  z-index: 40;
  top: 0;
  box-sizing: border-box;
  padding: 0.4em 3em;
  background-color: #F8FAFD;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14em;
  border-radius: 0em 0em 2em 2em;
}

#destaque .fixo #controles img{
  height: 35px;
}

#destaque .fixo #controles .seta{
  height: 20px;
}

#destaque .fixo h1{
  color: white;
  font-size: 57px;
  margin-bottom: -4px;
}

#destaque .fixo p{
  color: white;
  font-size: 14px;
  font-weight: 400;
  max-width: 570px;
}

/* SLIDER*/
#destaque .carousel {
  position: relative;
  width: 100%;
  height: 377px;
  overflow: hidden;
  border-radius: 1.5em;
}

#destaque .carousel .slider-container {
  display: flex;
  
}

#destaque .carousel .slider-container .slide {
  flex: 0 0 100%;
}

#destaque .carousel .slider-container .slide video {
  width: 100%;
  height: 377px;
  object-fit: cover;
}



/*MAIN*/

main .apresentacao{
  padding-top: 4em;
  padding-left: 10em;
  padding-right: 10em;
}

.marca-caçador {
  position: absolute;
  left: 50%;
  padding-top: 5em;
  transform: translate(-50%, -50%);
}

main .marca-caçador img{
  width: 300px;
  left: 50%;

}

main .apresentacao p{
  color:white;
}

main .apresentacao .fraseEfeito{
  left: 50%;
  padding-top: 1em;
  padding-bottom: 5em;
 
}

main .apresentacao .section1-anuncio{
  display: flex;
  flex-direction: column;
  align-items: center;

}

main .apresentacao div{
  display: flex;
  padding-bottom: 3em;
  justify-content: space-between;

}
main .apresentacao div span{
  width: 35em;
}

main .apresentacao .section1-anuncio .trailer span p{
  text-align: center;
}

main .apresentacao div figure img{
  width: 470px;
  height: 250px;
  
}


main .apresentacao div span h1,main div span h2{
  font-size: 48px;
  color: white;
  font-family: Source Serif Pro;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-bottom: 1em;
}

.player-trailer{
  width: 200px;
  height: 280px;
}

main .apresentacao div #sobre-jogo ol{
  padding-left: 3em;
  padding-top: 1em;
  list-style: circle;
}

main .apresentacao div #sobre-jogo p{
  text-align: left;
}
main .apresentacao div #sobre-jogo ol li{
  color:white;
  font-size: 20px;
}


/*DESTAQUE 2*/


main #destaque2 .texto-banner2 {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  text-align: center;
  color: white;
  z-index: 3;
  margin-top: 20px;
}

main #destaque2 .texto-banner2 h1{
  padding-bottom: 1em;
}

main #destaque2 .texto-banner2 p{
  font-family: IM FELL French Canon SC;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main #destaque2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  height: 612px;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

main #destaque2 .container-imagem {
  width: 100%;
  height: auto;
  overflow: hidden;
}



#movendo {
  height: auto;
  animation: movendo 40s linear infinite;
  
}

@keyframes movendo {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  3% {
    transform: translateX(0);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  96%{
    transform: translateX(-67%);
    opacity: 0.9; 
  }
  100% {
    transform: translateX(-70%);
    opacity: 0;
  }
}


/*PACOTES SECTION*/

main .pacotes{
  padding: 5em 10em;
  background: #090819;
}

main .pacotes h1{
  text-align: center;
  padding-bottom: 1.2em;

}
main .pacotes ol{
  width: 100%;
  border-bottom: 1px rgb(255, 255, 255) solid;
  border-top: 1px rgb(255, 255, 255) solid;
  padding-bottom: 4em;
  padding-top: 4em;
  display: flex;
  justify-content: space-between;
}

main .pacotes ol li a img{
  padding-bottom: 0.5em;
  width: 70px;
  height: 70px;
}

main .pacotes ol li a p{
  text-align: center;
  font-size: 23px;
}

main .pacotes ol li a h2{
  font-size: 28px;
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

/* <diferentes cores nos cards>*/

main .pacotes ol .sonhosEsquecidos a h2{
  color: #E27CCA;
  border-bottom: #E27CCA 1px solid;
}

main .pacotes ol .trupeGrimm a h2{
  color: #EF333F;
  border-bottom: #EF333F 1px solid;
}

main .pacotes ol .sangueVital a h2{
  color: #349DFF;
  border-bottom: #349DFF 1px solid;
}

main .pacotes ol .deusMestre a h2{
  color: #DA9E61;
  border-bottom: #DA9E61 1px solid;
}


main .pacotes ol .sonhosEsquecidos a span{
  color: #E27CCA;
}

main .pacotes ol .trupeGrimm a span{
  color: #EF333F;
}

main .pacotes ol .sangueVital a span{
  color: #349DFF;
}

main .pacotes ol .deusMestre a span{
  color: #DA9E61;
}

/* </diferentes cores nos cards>*/

main .pacotes ol li a{
  color: white;
  height: 333px;
  width: 270px;
  border-radius: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #332F44;
  padding: 15px;
  box-sizing: border-box;
}

main .pacotes ol li a:hover{
  background-color: #363348;
}


/*            Footer                 */

main footer{
  height: auto;
  height: 386px;
  background-image: url(imagens/background-footer.svg);
  padding: 0 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 100%;
  background-size: auto;
}

main footer .top-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: white 2px solid;
  padding-bottom: 2em;
}

main footer .top-footer figure{
  display: flex;
  align-items: center;
}

main footer .top-footer .Team_Unity{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main footer .top-footer .Team_Unity span{
  padding: 0 1em;
}

main footer .top-footer .logos_footer{
  display: flex;
  justify-content: space-between;
  width: 160px;
  padding-right: 1.4em;
  align-items: center;
  box-sizing: border-box;
}

main footer .top-footer ol{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main footer .top-footer ol li #facebook_teamcherry{
  padding: 0 1em;
}
main footer .bottom-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
}

main footer .bottom-footer a{
  width: 121px;
  text-align: end;
}

main footer .bottom-footer #team_cherry_logo img{
  
  width: 80px;
}

main footer .bottom-footer #direito-autoral{
  color: #FFFFFF;
  font-size: 16px;
  
}

main .soundtracks{
  height: 300px;
  padding: 5em 10em;
  background: #090819;
  display: flex;
  justify-content: space-between;
}

main .soundtracks div{
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .soundtracks div p{
  color: #FFFFFF;
  text-align: left;
}

main .soundtracks div p a{ 
  color: #000000;
}
main .soundtracks ol{
  display: flex;
  justify-content: space-between;
  gap: 10px
}

main .soundtracks ol li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

main .soundtracks ol li .soundtrack-image{
  width: 230px;
}

main .soundtracks ol li p a, main .soundtracks ol li p{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

main .soundtracks .botao-spotify-2 a{
  background-color: white;
  font-size: 20px;
  width: 131px;
  height: 39px;
}

main .soundtracks .botao-spotify-2 a:hover, main .soundtracks .botao-spotify-1 a:hover{
  background-color: rgb(194, 194, 194);
}

main .soundtracks .botao-spotify-2 a img{
  padding-right: 5px;
}

main .soundtracks .botao-spotify-1 a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 20px;
  width: 365px;
  height: 54px;
}

/*                  Criadores                */